* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	display: block;
	line-height: 0;
}

.background {
	display: block;
	max-width: 100%;
	max-height: 92vh;
	width: auto;
	height: auto;
}